body {
    margin: 0;
    font-family: system-ui, sans-serif;
  }

h1, .center {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }

.width-sm {
max-width: 25rem;
}
.width-lg {
max-width: 60rem;
}

form {
    margin-top: 4rem;
}

.required:after {
    content:" *";
    color: red;
  }

input:valid {
    border: 2px green dashed;
}

input:invalid {
    border: 2px red dashed;
}

form > * + * {
    margin-top: 1.5rem;
    display: flexbox;
    font: inherit;
    color: inherit;
    margin-top: 0.5rem;
    width: 95%;
    align-content: center;
}

.consent {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    

}

.team-container {
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    
}

.team {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid grey;
    max-width: 30rem;
    padding: 1em;
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
    
}

.about-text {
    justify-content: center;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}