body, html {
    margin: 0;
    font-family: system-ui, sans-serif;
    background-image: url(background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%
  }

h1, .center {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto; 
  }

h1 {
    color: #F96900;
}

.width-sm {
max-width: 25rem;
}
.width-lg {
max-width: 60rem;
}

form {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.required:after {
    content:" *";
    color: red;
  }

input:valid {
    border: 2px green dashed;
}

input:invalid {
    border: 2px red dashed;
}

form > * + * {
    margin-top: 1.5rem;
    display: flexbox;
    font: inherit;
    color: inherit;
    margin-top: 0.5rem;
    width: 95%;
    align-content: center;
}

input, textarea {
    color: rgb(0,0,0);
    background-color: rgb(115,165,206);
}

button {
    background-color: rgb(245, 255, 250);
    color: rgb(0,0,0);
}

button:focus, button:hover {
    background-color: rgb(245, 255, 250, 0.75);
}

.consent {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    background-color: #A8DCD1;
    padding: 3em;
    margin: 0;
    

}

.team-container {
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    
}

.team {
    display: flex;
    flex-flow: row wrap;
    max-width: 30rem;
    padding: 1em;
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.5);
    color: rgb(253, 252, 251);
}

.about-text {
    justify-content: center;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}